//- footer link lists
-var list1= ["Tài khoản của tôi","Sản phẩm yêu thích","Lịch sử mua hàng","Chính sách đổi trả","Góp ý, khiếu nại"];
-var list2= ["Hệ thống cửa hàng","Hướng dẫn mua hàng","Hướng dẫn thanh toán","Tích điểm đổi quà","Câu hỏi thường gặp"];
-var list3= ["Chính sách giao hàng","Chính sách đổi trả sản phẩm","Chính sách bảo hàng","Giới thiệu sản phẩm mới","Chính sách trả góp"];
-var list4= ["Tin mới","Khuyến mại","Tuyển dụng","Download","Tags"];
-var list5= ["Sitemap","Danh mục sản phẩm","Hợp tác","Thông tin liên hệ","Câu hỏi thường gặp"]
-var list6= ['<i class="fab fa-cc-visa"></i>','<i class="fab fa-cc-mastercard"></i>','<i class="fab fa-cc-paypal"></i>','<i class="fab fa-cc-discover"></i>']
//-social media 
-var social= ["fab fa-facebook-f","fab fa-twitter","fab fa-tumblr","fab fa-vimeo-v"]
