//- footer link lists
-var list1= ["Tài khoản của tôi","Sản phẩm yêu thích","Lịch sử mua hàng","Chính sách đổi trả","Góp ý, khiếu nại"];
-var list2= ["Hệ thống cửa hàng","Hướng dẫn mua hàng","Hướng dẫn thanh toán","Tích điểm đổi quà","Câu hỏi thường gặp"];
-var list3= ["Chính sách giao hàng","Chính sách đổi trả sản phẩm","Chính sách bảo hàng","Giới thiệu sản phẩm mới","Chính sách trả góp"];
-var list4= ["Tin mới","Khuyến mại","Tuyển dụng","Download","Tags"];
-var list5= ["Sitemap","Danh mục sản phẩm","Hợp tác","Thông tin liên hệ","Câu hỏi thường gặp"]
-var list6= ['<i class="fab fa-cc-visa"></i>','<i class="fab fa-cc-mastercard"></i>','<i class="fab fa-cc-paypal"></i>','<i class="fab fa-cc-discover"></i>']
//-social media 
-var social= ["fab fa-facebook-f","fab fa-twitter","fab fa-tumblr","fab fa-vimeo-v"];
//-slider
-var slider1="assets/images/slide-1920x590.png";
-var slider2="assets/images/slide-1920x590-1.png";
-var slider3="assets/images/slide-1920x590-2.png";
//-star-rate
-var star='<i class="fas fa-star"></i>'+'<i class="fas fa-star"></i>'+'<i class="fas fa-star"></i>'+'<i class="fas fa-star"></i>'+'<i class="fas fa-star-half-alt"></i>';
//-tag color
-var green ='background-color: rgb( 63, 184, 113 );';
-var red = 'background-color: rgb( 237, 28, 36 );';
//-hot-product-image
-var image1='assets/images/sp/sp1.png';
-var image2='assets/images/sp/sp2.png';
-var image3='assets/images/sp/sp3.png';
-var image4='assets/images/sp/sp4.png';
-var image5='assets/images/sp/sp5.png';
-var image6='assets/images/sp/sp6.png';
-var image7='assets/images/sp/sp7.png';
-var image8='assets/images/sp/sp8.png';
-var image9='assets/images/sp/sp9.png';
-var image10='assets/images/sp/sp10.png';
-var image11='assets/images/sp/sp11.png';
-var image12='assets/images/sp/sp12.png';
-var image13='assets/images/sp/sp13.png';
-var image14='assets/images/sp/sp14.png';
-var image15='assets/images/sp/sp15.png';
//-isNotTag
-var isTag = "display:block;"
//-blog from home page
-var blogImg1="assets/images/news1.png";
-var blogImg2="assets/images/news2.png";
-var blogImg3="assets/images/news3.png";
-var blogTitle1="15 thiết kế phòng ngủ tuyệt đẹp làm vạn người mê";
-var blogTitle2="Tạo Tiểu Cảnh Cho Góc Sân Nhà Phố, Biệt Thự đẹp";
-var blogTitle3="Cách bố trí chậu trước cửa ấn tượng";
-var blogContent1="Cùng Sài Gòn Hoa tìm hiểu một vài xu hướng thiết kế sân vườn đưowjc ưa chuộng nhất hiện nay nhé. Kết hợp hàng rào...";
-var blogContent2="Khi bước từ ngoài ngõ vào hay trong nhà đi ra góc sân luôn là điểm nhìn đầu tiên của chúng ta...";
-var blogContent3="Như thể sự thân thiện, hiếu khách của gia chủ. Phần không gian trước cửa...";